
<main>
    <app-galerie></app-galerie>   
    <!-- le corps -->
      <div class="main-content">
        <div class="with-back">
            <div class="row mb-2">
              <div class="t col-md-6">
                <div class=" g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col d-flex flex-column p-0 position-static">
                    <div class="header-1">
                    <strong class="d-inline-block p-2">Jouissance pour examen</strong>
                    </div>
                   <div class="bg-white-actif">
                   <span>
                    c’est une demande adressée au supérieur hiérarchique qui accorde une période au 
                   fonctionnaire pour lui permettre de subir les épreuves de concours ou examens professionnels.
                   </span>
                   <br ><br ><br><br >
                  </div>
                
                  </div>
                  <div class="col-auto d-none d-lg-block"> </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class=" g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col  d-flex p-0 flex-column position-static">
                    <div class="header-2">
                    <strong class="d-inline-block p-2 ">Processus de demande</strong>
                  </div>
                  <div class="bg-white-plus-individuel">
                    <span><b>Etape1:</b> Créer un compte sur la plateforme</span>
                    <br>
                    <span><b>Etape2:</b> Se connecter à l'aide de ses identifiants</span>
                    <br>
                    <span><b>Etape3:</b> cliquer sur le bouton ajouter pour soumettre sa demande</span>  
                    <br ><br ><br>
                    <button (click)="soumettre()" label="Soumettre" class="p-button-raised p-button-text p-button-primary mr-2" pButton></button>
                  </div>
                  
                  </div>
                  <div class="col-auto d-none d-lg-block"> </div>
                </div>
              </div> 
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
               
              </div>
            </div>
      
            <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
        </div> 
      </div>
      </main><!-- /.container -->
      