@import "../../../../node_modules/primeflex/primeflex.css";

label
{
 // background-color: black;
 color: black;
}
.couleur{
  background-color: green ;
  height: 50px;
  border-radius: 50px;
}
nb-card-header{

  margin-left: 360px;
  color: white;
}
.box{
height: 50px;
}
input{
  width: 100px;
  
}

