
<div>
  <p-message *ngIf="message" [severity]="message.severity" [text]="message.summary"></p-message>
  <p-progressSpinner *ngIf="isOpInProgress" strokeWidth="4" [style]="{width: '50px', height: '50px'}">
  </p-progressSpinner>
</div>
<app-panel-header header="Creation d'un compte d'utilisateur" icon="fa fa-2x fa-user-plus"></app-panel-header>

<nb-card>
  <nb-card-body>
    <!-- <button class="linear-mode-button"
            nbButton
            (click)="toggleLinearMode()">
      {{ linearMode ? 'Disable' : 'Enable' }} linear mode
    </button> -->

    <nb-stepper #stepper [linear]="linearMode">

      <nb-step [stepControl]="nameForm" label="Verification">

        <form (ngSubmit)="onSubmit()" [formGroup]="verifForm" #dtf="ngForm">


        <div class="p-fluid grid">



            <!--1 lignes  -->

          <div class="p-field p-col-12 md:col-3">
          </div>

          <div class="p-field p-col-12 md:col-6">

            <label for="matricule">Matricule :</label>
            <input type="text" id="matricule" name="matricule"  [(ngModel)]="forme.matricule"formControlName="matricule" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">


          </div>

          <div class="p-field p-col-12 md:col-3">
          </div>
          <!-- fin 1 ligne -->

          <!-- 2 emeligne -->
          <div class="p-field p-col-12 md:col-3">

          </div>
          <div class="p-field p-col-12 md:col-6">

            <label for="dateNaissance"><b>Date de naissance :</b></label>

            <p-calendar name="dateNaissance"  [(ngModel)]="forme.dateNaissance"  formControlName="dateNaissance" dateFormat="yy-mm-dd"
              inputId="dateformat" [showIcon]="true" inputId="icon"></p-calendar>
          </div>

          <div class="p-field p-col-12 md:col-3">

          </div>
          <!--  fin 2ligne -->


            <!--3 lignes  -->

            <div class="p-field p-col-12 md:col-3">
            </div>

            <div class="p-field p-col-12 md:col-6">


              <label for="dateRecrutement"><b>Date de recrutement :</b></label>
              <p-calendar name="dateRecrutement"  [(ngModel)]="forme.dateRecrutement"  formControlName="dateRecrutement" dateFormat="yy-mm-dd"
        inputId="dateformat" [showIcon]="true" inputId="icon"></p-calendar>
            </div>

            <div class="p-field p-col-12 md:col-3">
            </div>
            <!-- fin 3 ligne -->



        </div>   <!--  fin de la div principale-->

        <p-divider></p-divider>
        <div class="m-auto" style="margin-left: 750px">
          <button description="reset" label="Annuler" (click)="showDialog=false"
            class="p-button-raised p-button-text p-button-success mr-2  " style="margin-left: 450px" pButton></button>
          <button description="submit" [disabled]="!dtf.form.valid" label="{{isEditing() ? 'Enregistrer' : 'Ajouter'}}"
            icon="pi {{isEditing() ? 'pi-save' : 'pi-plus'}}"
            class="p-button-raised p-button-text {{isEditing() ? 'p-button-primary' : 'p-button-success'}}"
            pButton></button>

            <button  nbButton nbStepperNext   [disabled]="!compteValidate.activate">next</button>

        </div>
        </form>

        <form #nameForm="ngForm" class="step-container">
          <div class="input-group">
            <!-- <input type="text"
                   placeholder="Enter your name"
                   class="form-control"
                   name="name"
                   required
                   nbInput
                   ngModel
                   #name="ngModel"
                   > -->

                   <!--  <form (ngSubmit)="save()" #dtf="ngForm">   -->

  <form (ngSubmit)="onSubmit()" [formGroup]="verifForm" #dtf="ngForm">

    <!--  -->




    <!-- <div class="field col-6 md:col-4 m-auto">
      <label for="dateNaissance"><b>Date de naissance :</b></label>

      <p-calendar name="dateNaissance"  [(ngModel)]="forme.dateNaissance"  formControlName="dateNaissance" dateFormat="yy-mm-dd"
        inputId="dateformat" [showIcon]="true" inputId="icon"></p-calendar>
    </div> -->

    <!-- <div class="field col-6 md:col-4 m-auto">
      <label for="dateRecrutement"><b>Date de recrutement :</b></label>

      <p-calendar name="dateRecrutement"  [(ngModel)]="forme.dateRecrutement"  formControlName="dateRecrutement" dateFormat="yy-mm-dd"
        inputId="dateformat" [showIcon]="true" inputId="icon"></p-calendar>
    </div> -->

      <!-- <div class="field col-12 md:col-4  m-auto">
        <label for="matricule">Matricule :</label>
        <input type="text" id="matricule" name="matricule"  [(ngModel)]="forme.matricule"formControlName="matricule" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">


    </div> -->


        <p-divider></p-divider>

      </form>
          </div>


        </form>
      </nb-step>
      <!--  fin -->

      <nb-step [stepControl]="movieForm" label="Création de compte">

          <!-- debut -->

          <form   #movieForm="ngForm" class="step-container" (ngSubmit)="onSubmite()" [formGroup]="verifFormSave">


            <div class="p-fluid grid">



                <!--1 lignes  -->

              <div class="p-field p-col-12 md:col-3">
              </div>

              <div class="p-field p-col-12 md:col-6">

                <!-- <label for="structure">Structures:</label>
                <p-dropdown [options]="structures" [(ngModel)]="compteSave.structure" formControlName="structure" optionLabel="libelle"
                  inputId="structure" name="structure" placeholder="Selectionner une structure..." [filter]="true"
                  appendTo="body" [showClear]="true">
                </p-dropdown> -->

              </div>

              <div class="p-field p-col-12 md:col-3">
              </div>
              <!-- fin 1 ligne -->

              <!-- 2 emeligne -->
              <div class="p-field p-col-12 md:col-3">

              </div>
              <div class="p-field p-col-12 md:col-6">

                <label for="matricule">Matricule :</label>
                <input type="text" id="matricule" name="matricule"  [(ngModel)]="formeSave.matricule"formControlName="matricule" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">


              </div>

              <div class="p-field p-col-12 md:col-3">

              </div>
              <!--  fin 2ligne -->


                <!--3 lignes  -->

                <div class="p-field p-col-12 md:col-3">
                </div>

                <div class="p-field p-col-12 md:col-6">


                  <label for="email">Email :</label>
              <input type="text" id="email" name="email"  [(ngModel)]="formeSave.email"formControlName="email" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                </div>

                <div class="p-field p-col-12 md:col-3">
                </div>
                <!-- fin 3 ligne -->

                  <!--4 lignes  -->

              <div class="p-field p-col-12 md:col-3">
              </div>

              <div class="p-field p-col-12 md:col-6">

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password"  [(ngModel)]="formeSave.password"formControlName="password" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

              </div>

              <div class="p-field p-col-12 md:col-3">
              </div>
              <!-- fin 4 ligne -->

                <!--5 lignes  -->

                <div class="p-field p-col-12 md:col-3">
                </div>

                <div class="p-field p-col-12 md:col-6">

                  <label for="matriculeResp">Matricule du responsable :</label>
                  <input type="text" id="matriculeResp" name="matriculeResp"  [(ngModel)]="formeSave.matriculeResp"formControlName="matriculeResp" required   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                  <label for="structure">Structures:</label>
                  <p-dropdown [options]="structures" [(ngModel)]="compteSave.structure" formControlName="structure" optionLabel="libelle"
                    inputId="structure" name="structure" placeholder="Selectionner une structure..." [filter]="true"
                    appendTo="body" [showClear]="true">
                  </p-dropdown>
                </div>

                <div class="p-field p-col-12 md:col-3">
                </div>
                <!-- fin 5 ligne -->



            </div>   <!--  fin de la div principale-->

            <p-divider></p-divider>
            <div class="m-auto" style="margin-left: 750px">
              <button description="reset" label="Annuler" (click)="showDialog=false"
                class="p-button-raised p-button-text p-button-success mr-2  " style="margin-left: 450px" pButton></button>
              <button description="submit"  label="{{isEditing() ? 'Enregistrer' : 'Ajouter'}}"
                icon="pi {{isEditing() ? 'pi-save' : 'pi-plus'}}"
                class="p-button-raised p-button-text {{isEditing() ? 'p-button-primary' : 'p-button-success'}}"
                pButton></button>

                <!-- <button  nbButton nbStepperNext   [disabled]="!compteValidate.activate">next</button> -->

            </div>
            </form>





        <!-- fin import -->
        <form  class="step-container">
          <div class="input-group">



          </div>


        </form>
      </nb-step>

      <!-- <nb-step [stepControl]="somethingForm" label="Terminée">
        <form #somethingForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="text"
                   placeholder="Enter something"
                   class="form-control"
                   name="something"
                   required
                   nbInput
                   ngModel
                   #somethingInput="ngModel"
                   >
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step> -->

      <!-- <nb-step [hidden]="true">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step> -->

    </nb-stepper>
  </nb-card-body>
</nb-card>
