
    <div class="formgrid grid">
        <div class="field col-12 md:col-4">
          <p-panel>
            <ng-template pTemplate="header">
              <p>Statistiques congé annuel</p>
          </ng-template>
             
              <div class="col-md-12" >
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action">
                    <span class="va-m"><span class="font-weight-bold">2022:</span>SPMABG0005</span>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <span class="va-m"><span class="font-weight-bold">2021:</span>SPMABG58962 </span>
                  </li>
                  <li class="list-group-item list-group-item-action">
                   <span class="va-m"><span class="font-weight-bold">2020:</span> SPMABG458963 </span>
                 </li>
      
                </ul>
             </div>
            
          </p-panel>
      </div>
      <div class="field col-12 md:col-4">
        <p-panel>
          <ng-template pTemplate="header">
            <p>statistique autorisation d'absence</p>
          </ng-template>
    
                   <div class="col-md-12">
                     <ul class="list-group list-group-flush">
                      <li class="list-group-item list-group-item-action">
                        <span class="va-m"><span class="font-weight-bold">Nombre total:</span> 10 </span>
                      </li>
                       <li class="list-group-item list-group-item-action">
                         <span class="va-m"><span class="font-weight-bold">Nombre contracté:</span>12  </span>
                       </li>
                       
                       <li class="list-group-item list-group-item-action">
                        <span class="va-m"><span class="font-weight-bold">Nombre surplus:</span> 2 </span>
                      </li>
           
                     </ul>
                  </div>
         </p-panel>
    </div>
    <div class="field col-12 md:col-4">
        <p-panel>
          <ng-template pTemplate="header">
            <p>statistique autres congés</p>
          </ng-template>
            
                   <div class="col-md-12">
                     <ul class="list-group list-group-flush">
                       <li class="list-group-item list-group-item-action">
                         <span class="va-m"><span class="font-weight-bold">Maladie:</span>  </span>
                       </li>
                       <li class="list-group-item list-group-item-action">
                         <span class="va-m"><span class="font-weight-bold">Maternité:</span>  </span>
                       </li>
                       <li class="list-group-item list-group-item-action">
                        <span class="va-m"><span class="font-weight-bold">Fin service:</span>  </span>
                      </li>
           
                     </ul>
                  </div>
         </p-panel>
    </div>
    </div>
    
    <div class="formgrid grid">
        <div class="field col-12 md:col-4">
            <p-panel >
                <ng-template pTemplate="header">
                    <p>Statistique jouissance annuelle</p>
                </ng-template>
                <div class="col-md-12" >
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">
                      <span class="va-m"><span class="font-weight-bold">Nombre total:</span>30</span>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <span class="va-m"><span class="font-weight-bold">Nombre contracté:</span>15</span>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <span class="va-m"><span class="font-weight-bold">Surplus d'absence:</span>2</span>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <span class="va-m"><span class="font-weight-bold">Nombre restant:</span>13  </span>
                    </li>
                   
        
                  </ul>
               </div>
            </p-panel>
      </div>
      <div class="field col-12 md:col-4">
        <p-panel>
          <ng-template pTemplate="header">
            <p>Statistique autres absences</p>
        </ng-template>
                   <div class="col-md-12">
                     <ul class="list-group list-group-flush">
                       <li class="list-group-item list-group-item-action">
                         <span class="va-m"><span class="font-weight-bold">Jouissance SND:</span>  </span>
                       </li>
                       <li class="list-group-item list-group-item-action">
                         <span class="va-m"><span class="font-weight-bold">Jouissance examen:</span>  </span>
                       </li>
                       <li class="list-group-item list-group-item-action">
                        <span class="va-m"><span class="font-weight-bold">Absence pour élection:</span>  </span>
                      </li>
                      <li class="list-group-item list-group-item-action">
                        <span class="va-m"><span class="font-weight-bold">Absence activité syndicale:</span>  </span>
                      </li>
                      <li class="list-group-item list-group-item-action">
                        <span class="va-m"><span class="font-weight-bold">Absence activité int.nationale:</span>  </span>
                      </li>
           
                     </ul>
                  </div>
         </p-panel>
    </div>
    
    </div>