
<main>
    <app-galerie></app-galerie>   
    <!-- le corps -->
      <div class="main-content">
        <div class="with-back">
            <div class="row mb-2">
              <div class="t col-md-6">
                <div class=" g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col d-flex flex-column p-0 position-static">
                    <div class="header-1">
                    <strong class="d-inline-block p-2">Décision de congés annuel</strong>
                  </div>
                  <div class="bg-white-actif">
                   <span>
                C’est une période de repos accordée à tout fonctionnaire dans
                l’impossibilité d’exercer son emploi pour raison de santé constatée par une autorité médicale
                agréée avec à l’appui un certificat médical établi précisant le début et la fin probable de
                l’incapacité de travail.Il existe deux types de congés maladies : <br> <b>courte durée</b>(inférieur ou égale à 30 jours)<br>
                 <b>longue durée</b>(3mois minimum à 5ans maximum).
                   </span>
                   <br><br><br><br>
                  </div>
                
                  </div>
                  <div class="col-auto d-none d-lg-block"> </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class=" g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col  d-flex p-0 flex-column position-static">
                    <div class="header-2">
                    <strong class="d-inline-block p-2 ">Processus de demande</strong>
                  </div>
                  <div class="bg-white-plus-individuel">
                    <span><b>Etape1:</b> Créer un compte sur la plateforme(si vous ne posséder pas un compte)</span>
                    <br>
                    <span><b>Etape2:</b> Se connecter à l'aide de vos identifiants(matricule, mot de passe)</span>
                    <br>
                    <span><b>Etape3:</b> cliquer sur le bouton soumettre pour enregistrer votre demande</span><br>
                    <span><b>NB:</b>se munir du certificat médical délivré par une
                        autorité médicale agréée précisant la date de début et de fin probable de l’incapacité de travail.</span>
                    <br ><br ><br><br>
                    <button (click)="soumettre()" class="btn btn-primary" label="Soumettre" class="p-button-raised p-button-text p-button-primary mr-2" pButton></button>
                  </div>
                  
                  </div>
                  <div class="col-auto d-none d-lg-block"> </div>
                </div>
              </div> 
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
               
              </div>
            </div>
      
            <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
        </div> 
      </div>
      </main><!-- /.container -->
      