
<header class="blog-header py-3">
  <div class="row flex-nowrap ">
    <div class="col-1">
      <a class="navbar-brand" href="/">
        <img src="assets/images/logo/armoirie_BF.png"  class="img-fluid" width="80px" height="100px" alt="BURKINA FASO">
      </a> 
    </div>
    <div class="col-8 " >
      <a class="blog-header-logo text-dark" href="https://www.fonction-publique.gov.bf/">
        <!-- <h3><b>Ministère de la Fonction Publique, du Travail et de la Protection Sociale</b></h3> -->
      </a>
      <div>Système Intégré de gestion des congés et des autorisations d'absence (SICAA) </div>
      <div class=""></div>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center">
      <a class="link-secondary" href="#" aria-label="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
      </a>
      <a class="btn btn-sm btn-outline-secondary" href="/login">Connexion</a>
    </div>
  </div>
</header>
