<div class="formgrid grid">
    <div class="field col-12 md:col-4">
      <p-card>
         <p-card-header>
            <p style="font-size:16px ;"><b><u>statistique congé annuel</u></b></p>
         </p-card-header>
         <p-card-content>
            <div class="row mt-5" style="background-color:#006699;">
                <div class="col-md-12" >
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">
                      <span class="va-m"><span class="font-weight-bold">Nombre contracté:</span>15</span>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <span class="va-m"><span class="font-weight-bold">Nombre restant:</span>15  </span>
                    </li>
                    <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Nombre total:</span> 30 </span>
                   </li>
        
                  </ul>
               </div>
        
           </div>
         </p-card-content>
      </p-card>
  </div>
  <div class="field col-12 md:col-4">
    <p-card>
        <p-card-header>
           <span>statistique autorisation d'absence</span>
        </p-card-header>
        <p-card-content>
           <div class="row mt-5">
               <div class="col-md-12">
                 <ul class="list-group list-group-flush">
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Nombre contracté:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Nombre restant:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                    <span class="va-m"><span class="font-weight-bold">Nombre total:</span>  </span>
                  </li>
       
                 </ul>
              </div>
       
          </div>
        </p-card-content>
     </p-card>
</div>
<div class="field col-12 md:col-4">
    <p-card>
        <p-card-header>
           <span>statistique autres congés</span>
        </p-card-header>
        <p-card-content>
           <div class="row mt-5">
               <div class="col-md-12">
                 <ul class="list-group list-group-flush">
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Maladie:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Maternité:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                    <span class="va-m"><span class="font-weight-bold">Fin service:</span>  </span>
                  </li>
       
                 </ul>
              </div>
       
          </div>
        </p-card-content>
     </p-card>
</div>
</div>

<div class="formgrid grid">
    <div class="field col-12 md:col-4">
        <p-panel >
            <ng-template pTemplate="header">
                Header content here
            </ng-template>
            Body Content
            <ng-template pTemplate="footer">
                Footer content here
            </ng-template>
        </p-panel>
  </div>
  <div class="field col-12 md:col-4">
    <p-card>
        <p-card-header>
           <span>statistique autorisation d'absence</span>
        </p-card-header>
        <p-card-content>
           <div class="row mt-5">
               <div class="col-md-12">
                 <ul class="list-group list-group-flush">
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Nombre contracté:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Nombre restant:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                    <span class="va-m"><span class="font-weight-bold">Nombre total:</span>  </span>
                  </li>
       
                 </ul>
              </div>
       
          </div>
        </p-card-content>
     </p-card>
</div>
<div class="field col-12 md:col-4">
    <p-card>
        <p-card-header>
           <span>statistique autres congés</span>
        </p-card-header>
        <p-card-content>
           <div class="row mt-5">
               <div class="col-md-12">
                 <ul class="list-group list-group-flush">
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Maladie:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                     <span class="va-m"><span class="font-weight-bold">Maternité:</span>  </span>
                   </li>
                   <li class="list-group-item list-group-item-action">
                    <span class="va-m"><span class="font-weight-bold">Fin service:</span>  </span>
                  </li>
       
                 </ul>
              </div>
       
          </div>
        </p-card-content>
     </p-card>
</div>
</div>