
<main>
    <app-galerie></app-galerie>   
    <!-- le corps -->
      <div class="main-content">
        <div class="with-back">
            <div class="row mb-2">
              <div class="t col-md-6">
                <div class=" g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col d-flex flex-column p-0 position-static">
                    <div class="header-1">
                    <strong class="d-inline-block p-2">Décision de congés annuel</strong>
                  </div>
                  <div class="bg-white-actif">
                   <span>
                    c’est une période de trois (03) mois consécutifs de repos avec
                    traitement brut soumis à pension sans toute autre indemnité, accordée au fonctionnaire durant les
                    trois (03) derniers mois avant sa date de départ à la retraite.  Autorisation d’absence : c’est une période d’arrêt
                   </span>
                   <br><br><br><br>
                  </div>
                
                  </div>
                  <div class="col-auto d-none d-lg-block"> </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class=" g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col  d-flex p-0 flex-column position-static">
                    <div class="header-2">
                    <strong class="d-inline-block p-2 ">Processus de demande</strong>
                  </div>
                  <div class="bg-white-plus-individuel">
                    <span><b>Etape1:</b> Créer un compte sur la plateforme(si vous ne posséder pas un compte)</span>
                    <br>
                    <span><b>Etape2:</b> Se connecter à l'aide de vos identifiants(matricule, mot de passe)</span>
                    <br>
                    <span><b>Etape3:</b> cliquer sur le bouton soumettre pour enregistrer votre demande</span><br>
                    <span><b>NB:</b>Se munir d’une copie de l’extrait d’acte de naissance ou jugement supplétif</span>
                    <br ><br ><br>
                    <button (click)="soumettre()" label="Soumettre" class="p-button-raised p-button-text p-button-primary mr-2" pButton></button>
                  </div>
                  
                  </div>
                  <div class="col-auto d-none d-lg-block"> </div>
                </div>
              </div> 
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
               
              </div>
            </div>
      
            <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
        </div> 
      </div>
      </main><!-- /.container -->
      