
<main>
  <app-galerie></app-galerie>
<div class="main-content">
  <div class="with-back">
      <div class="row mb-2">
        <div class="t col-md-6">
          <div class=" g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col d-flex flex-column p-0 position-static">
              <div class="header-1">
              <strong class="d-inline-block p-2">Demandes</strong>
            </div>
            <div class="bg-white-actif">
              <div class="info">
                <ul class="pt-2">
                  <li><a routerLink="/attestation-soumission" >Décision de congé annuel</a></li> 
                  <li><a routerLink="/declaration-etablissement">Autres congés</a></li>  
                  <li><a routerLink="/calcul-retraite">Jouissance de congé annuel</a></li>
                  <li><a routerLink="/calcul-retraite">Autres absences</a></li>
                  <br ><br ><br ><br > 
                </ul>
              </div>
            </div>
          
            </div>
            <div class="col-auto d-none d-lg-block"> </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col  d-flex p-0 flex-column position-static">
              <div class="header-2">
              <strong class="d-inline-block p-2 ">Actes</strong>
            </div>
            <div class="bg-white-plus-individuel">
              <br >
              <ol class="mt-2 gradient-list"> 
                <!-- <li><a routerLink="/attestation-travail">Mon Attestation de travail</a></li>
                <br >
                <li><a routerLink="/attestation-chomage">Mon Attestation de chômage</a></li>  -->
                <br ><br ><br ><br >
              </ol>
            </div>
            
            </div>
            <div class="col-auto d-none d-lg-block"> </div>
          </div>
        </div> 
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
         
        </div>
      </div>

      <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
  </div> 
</div>
</main><!-- /.container -->
