/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
body {
    /* padding-top: 2em; */
    font-family:"Droid Sans",Arial,sans-serif;
    color: #000;
    overflow-x: hidden;
    min-height: 100%;
    /* margin-bottom: 100px; */
   /* background-color: #B0BEC5;*/
    background-repeat: no-repeat
  }

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  padding: 0.75rem 1rem;
  color: #006699;
  background: #006699;

  border-radius: 0;
  transition: box-shadow 0.2s;
  user-select: none;
}
  .p-datatable {
    position: relative;
    font-size: 12px;
  }
  .p-menubar {
    padding: 0.5rem;
    background: #006699;
    color: #ffffff;
    width: 100%;
    border:0px;
    border-bottom: 05px solid yellow; 
    border-radius: 0px; 
  }

.btn-outline-secondary {
  color: white;
  border-color: #6c757d;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: white;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
  color: white;
  margin-left: 0.5rem;
}
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #006699;
  border: 2px solid #dee2e6;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: white;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: white;
  background-color: #006699;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: #006699;
  text-decoration: none;}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem #006699;
}


.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: white;
}
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #006699;
  border: 0px solid #dee2e6; 


}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl  {
  max-width: 100%;
  width: 96%;
  padding-right: 0px; 
  padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;  
}

.space{
  margin-bottom: 15%;
}

/*
datatable responsible
*/

:host ::ng-deep .p-datatable-sm .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}
@media screen and (max-width: 40rem) {
  :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th, :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
      display: none !important;
 }
  :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
      text-align: left;
      display: block;
      width: 100%;
      float: left;
      clear: left;
      border: 0 none;
 }
  :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td .p-column-title {
      padding: 0.4rem;
      min-width: 30%;
      display: inline-block;
      margin: -0.4em 1em -0.4em -0.4rem;
      font-weight: bold;
 }
  :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td:last-child {
      border-bottom: 1px solid var(--surface-d);
 }
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 



@import '~@nebular/theme/styles/globals';
@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";



@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/@fullcalendar/common/main.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/ionicons/scss/ionicons.scss";
@import 'themes';
@include nb-install() {
    @include nb-theme-global();
}

;
.nb-theme-corporate nb-layout-header {
  background-color:#236CCD;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  color:white;
}


/* You can add global styles to this file, and also import other style files */




.logo span{

  color: white;
  font-size: 13px;
}

.nb-theme-corporate nb-user .user-name {
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
}

.menu-sidebar{

  background-color: red;
}

[dir=ltr] .nb-theme-corporate nb-action {
  border-left: 0px solid #edf1f7;
}

.nb-theme-corporate nb-action nb-icon {
  color: white;
}

.user-action{
text-align: left;
margin: 0;
padding: 0;

}

// .menu-item a .menu-title {
//    flex: 0 0 auto;
// }

.nb-theme-corporate nb-context-menu nb-menu {
  border-radius: 0.17rem ;
  overflow: hidden;
  text-align: left;
}

.nb-theme-corporate nb-layout .layout {
  background-color: white;
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-height: 100
vh
;
}

.nb-theme-corporate nb-layout .layout .layout-container .content nb-layout-footer nav {
  background-color: #236CCD;
  border-top: 1px solid #edf1f7;
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  height: 30px;
  line-height: 1.25rem;
  padding: 1rem;
}

.nb-theme-corporate nb-sidebar .scrollable {
 background-color: #d9d9d9;
}


* {
  -webkit-box-sizing: border-box;
}

.p-card {
  background: white;
  color: #212529;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 4
px
;
}


// .p-datepicker {
//   min-width: 20%;
//   height:20%
// }
// .p-datepicker{
//   background: #ffffff;
//   border: 1px solid rgba(0, 0, 0, 0.15);
//   box-shadow: none;
// }

// .p-datepicker {
//   width: 20%;
//   height:20%;
//   position: absolute;
//   top: 20%;
//   left: 0;
// }
.p-card .p-card-footer {
  background-color: #f4f7fc;
  padding: 1
rem
0 0 0;
}
